.bg {
  background-color: #caaacd;
  width: 100%;
}
.title {
  text-align: center;
}
.box {
  display: grid;
  justify-content: start;
  grid-template: 1fr/1fr 1fr 1fr 1fr;
  padding: 2rem;
  list-style-type: none;
  font-size: 18px;
  font-weight: bold;
}
.box li {
  display: grid;
  grid-template: 10% 1fr 15% 5% 10% 10%/1fr;
  margin: 0.5rem;
  background-color: white;
  border-radius: 15px;
  min-width: 50px;
  justify-content: center;
  align-items: center;
}
.box li p {
  padding: 5px;
  font-size: 1rem;
}
.box h4 {
  text-align: center;
  font-size: 1.5rem;
}
.box img {
  padding: 10px;
  width: 90%;
}
.box span {
  width: 50px;
}
.box button {
  margin: 15px;
  text-align: end;
}

.btn {
  text-align: end;
}

@media (max-width: 980px) {
  .box {
    grid-template: 1fr/1fr 1fr 1fr;
  }
}
