:root {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --heigthNavBar: 4rem;
}

#root {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
}

html {
  height: 100%;
}

.logoLary {
  font-size: 5rem;
  font-family: "Sevillana", cursive;
  color: white;
  margin: 0;
}

.underLogo {
  color: white;
  font-size: 2rem;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: white;
  display: contents;
}
