.box {
  display: grid;
  justify-content: start;
  grid-template: 1fr/1fr 1fr 1fr 1fr;
  padding: 2rem;
  list-style-type: none;
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}
.box li {
  display: grid;
  overflow: hidden;
  margin: 0.5rem;
  background-color: white;
  border-radius: 15px;
  justify-content: center;
  align-items: center;
}
.box li p {
  padding: 5px;
  font-size: 0.9rem;
  color: grey;
  margin-left: 20px;
}
.box li h3 {
  margin-left: 10px;
}
.box h2 {
  margin: 0;
  font-size: 1.5rem;
  color: black;
}
.box img {
  margin: 0 auto;
  aspect-ratio: 1/1;
  width: 100%;
  height: 100%;
}
.box span {
  width: 50px;
  display: grid;
  justify-content: center;
  align-items: center;
}
.box button {
  margin: 0 auto;
}
.box button svg {
  width: 35px;
  height: 35px;
}


.btn {
  display: grid;
    grid-template: 1fr/1fr 0.5fr;
    justify-content: space-between;
    align-items: center;
}




@media (max-width: 980px) {
  .box {
    grid-template: 1fr/1fr 1fr 1fr;
  }
}
