.box {
  display: grid;
  justify-content: start;
  grid-template: 1fr/1fr 1fr 1fr 1fr;
  padding: 2rem;
  list-style-type: none;
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}
.box li {
  display: grid;
  margin: 0.5rem;
  background-color: white;
  border-radius: 15px;
  justify-content: center;
  align-items: center;
}
.box li p {
  padding: 5px;
  font-size: 0.9rem;
  color: grey;
  margin-left: 20px;
}
.box li h3{
  margin-left: 10px;
}
.box h2 {
  text-align: center;
  font-size: 1.5rem;
  color: black;
}
.box img {
  margin: 0 auto;
  width: 90%;
  aspect-ratio: 1/1;
}
.box span {
  width: 50px;
  display: grid;
  justify-content: center;
  align-items: center;
}
.box button {
  margin: 15px;
  text-align: end;
}

.btn {
  text-align: end;
}

@media (max-width: 980px) {
  .box {
    grid-template: 1fr/1fr 1fr 1fr;
  }
}
