.bg_page {
  background-color: #caaacd;
  text-align: center;
  height: calc(100% - var(--heigthNavBar))
}

.bg_page h2 {
  font-size: 3rem;
  color: #86b594;
  font-family: "Kingred Youth";
  margin-top: 0;
}

.bg_page form {
  display: grid;
}
